/* place.css */

:root {
  --main-bg: #1b2331;
  --accent-bg: #116639;
  --text-light: #ffffff;
  --card-bg: rgba(255, 255, 255, 0.9);
  --font-main: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: #eee;
  color: #333;

}
body{
    background-image: url(../images/seaview-cp.jpg);
    background-size: cover; /* Makes the image cover the whole screen */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents repeating the image */
      height: 100vh; /* Ensures full viewport height */
      margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
header,footer{
    background-color: #bbb;
	 display: grid; 
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
    text-align: center;
   padding: 1rem;
   
}
  
.weather-icon {
  width: auto;
  height: 40px; /* optional size limit */
}

main picture img {
  display: block;
  width: 100%;
  height: auto;
}


.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.card {
  background: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card h2 {
  margin: 0 0 1rem;
  padding: 0.5rem;
  background-color: var(--accent-bg);
  color: var(--text-light);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



.label {
  font-weight: bold;
}


footer  span{
    font-size: larger;
} 

 footer #lastModified{
    font-size: small;
}

@media (max-width: 600px) {
  header, footer {
    font-size: 1.5rem;
    padding: 0.75rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .card {
    padding: 0.75rem;
  }

  .card h2 {
    font-size: 1.2rem;
  }
}
